/*
#     #
#     # ###### #      #####  ###### #####   ####
#     # #      #      #    # #      #    # #
####### #####  #      #    # #####  #    #  ####
#     # #      #      #####  #      #####       #
#     # #      #      #      #      #   #  #    #
#     # ###### ###### #      ###### #    #  ####
*/

.spaced{
  padding: 10px;
}
.border{
  border: 1px solid black;
}

.tex-center{
  text-align: center;
}
